#accessibleForm {
    width:750px;
}

.browseSuperEntry td {font-weight: bold;}

.linkBanner {
    background-color:#000000;
    padding:0;
}

.linkBannerLeft ul, .linkBannerRight ul{
    height:25px;
    margin:6px 0 3px;
}

.rrUserQuery {
    color: #457029;
}

.searchNavBut {
    margin: 0 10px 0 5px;
}

#specializedSearch { margin-bottom:0px; }

.topLogoImage {
    padding:40px 20px;
}

#worldcat { display:inline; }