<!--

body { margin: 1%; }

div, span, p, form, .qs, h1, h2, h3, ul, ol, li, a, td ,th, select, input, textarea
{ font-family: Arial, Helvetica, sans-serif; }

tt, pre
{ font-family: "Courier New", Courier, mono, monospace; }

body, div, p, form, ul, ol, li, th, td, select, input, textarea
{ font-size: 12px; color: #000000; }

h2
{ font-size: 16px; color: #993300; }

h3
{ font-size: 14px; color: #993300; }

.qs
{ font-size: 10px; color: #000000; }

.blurb
{ font-size: 11px; }

.bibScreen
{ margin: 0%; }

.bibHoldings
{ border: 0px; }

.bibLinks
{ border-bottom: 3px solid gray; border-right: 3px solid gray; border-top: 0px; border-left: 0px; }

.bibItems
{ border-bottom: 3px solid gray; border-right: 3px solid gray; border-top: 0px; border-left: 0px; }

.bibTOC { width: 95%; font-size: 90%; margin-left: 20px; border: 0; padding: 1px; margin-bottom: 0px; }

.bibTOC td { border-bottom: 0; }

hr
{ color: silver; }

.AdvKeyWordTbl
{ color: #FFCC99; }

.pageMainAreaHeader 
{ font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 16px; font-weight: bold; }

/* Brief Citation display styles */
.briefcitActions { text-align: center; }

.briefcitDetail { padding-top: 5px; }

.briefcitExtras { text-align: center; white-space: nowrap; }

.briefcitExtras { padding-bottom: 2px; }

.briefcitItems {  }

.briefcitStatus { font-weight: bold; }

.briefcitTitle { font-weight: bold; }

/* classes for browse displays */
/* See also Web options BROWSE_HEADERS, TABLEPARAM_BROWSE..., TABLEPARAM_BRIEFCIT */

.browseSaveJump { text-align: center; }
.navigationRow { text-align: center; }
.navigationRow select { vertical-align: bottom; }

TD.browseHeaderNum {  background-color: #993300; color: #FFFFFF; font-weight: bold}
TD.browseHeaderMark {  background-color: #993300; color: #FFFFFF; font-weight: bold; }
TD.browseHeaderData {  background-color: #993300; color: #FFFFFF; font-weight: bold; vertical-align: bottom}
TD.browseHeaderMedia {  background-color: #993300; color: #FFFFFF; font-weight: bold}
TD.browseHeaderYear {  background-color: #993300; color: #FFFFFF; font-weight: bold; text-align: center}
TD.browseHeaderEntries {  background-color: #993300; color: #FFFFFF; font-weight: bold}
TD.browseHeaderRelevance {  background-color: #993300; color: #FFFFFF; font-weight: bold}

TR.browseSuperEntry {  background-color: #FFCC99; color: #000000}
TR.browseSubEntry {  background-color: #FFFAF0; color: #000000}
TR.browseEntry {  background-color: #FFCC99; color: #000000}

TD.browseEntryData { background-color: #FFCC99; color: #000000; font-weight: bold}

-->

/* Syndetics Styles */

.syn_div {
  clear:both;
  width:100%;
  margin:0em .25em 1em .25em;
}

.syn_title {
  font-weight: bold;
  width:15%;
  float:left;
  margin: 1em 0;
  padding:0px;
  margin:0px;
} 

.syn_body {
  text-align: left;
  width:75%;
  margin:0px;
  padding:0 3px;
  float:left;
}

.syn_body p {
  margin-top:0;
}

.syn_body {
  text-align: left;
  width:75%;
  margin:0px;
  padding:0 3px;
  float:left;
}

.syn_body a:link,
.syn_body a:visited,
.syn_body a:active {
  font-weight: bold; 
  color: #336699; 
  text-decoration: none
}

.syn_body a:hover {
  font-weight: bold; 
  color: #336699; 
  text-decoration: underline;
}

.syn_copyright {
  font-size: 80%;
}

.syn_list ul {
  list-style: none;
  padding: 0px 0px 5px 5px;
}

.syn_list_item {
  clear:both;
  position:relative;
  padding: 5px 0px;
}

.syn_toc_item_title {
  float:left;
  overflow:hidden;
  padding-left:55px;
}

.syn_toc_label {
  float:left;
  overflow:hidden;
  text-align:left;
  width:50px;
}

.syn_toc_item_page_num {
  float:right;
  overflow:hidden;
  font-weight: bold;
  font-style: italic;
}

/* Title profile */
.syn_fp {
  padding: 5px 0px;
}
.syn_fp_title {
  font-weight: bold;
  font-size:110%;
}
/*
span.syn_fp_tag {
  display:block;
  padding-left: 20px;
}
.syn_fp_tag_seperator {
  display:none;
}
*/
.syn_fp_character,
.syn_fp_biographee {
  padding: 10px 0px 5px 10px;
}
.syn_fp_character span.syn_fp_tag_seperator, 
.syn_fp_biographee span.syn_fp_tag_seperator {
  display:inline;
}
.syn_fp_characters span.syn_fp_tag 
.syn_fp_biographees span.syn_fp_tag {
  display:inline;
  padding-left: 2px;
}
span.syn_fp_tag_title {
  font-style:italic;
}

/* Video Profile */
.syn_av {
  padding: 5px 0px;
}
.syn_av_title {
  font-weight: bold;
  font-size:110%;
}
span.syn_av_tag_title {
  font-style:italic;
}
#syn_avprofile .syn_copyright {
  padding-top: 5px;
}
/*
span.syn_av_tag {
  display:block;
  padding-left: 20px;
}
.syn_av_tag_seperator {
  display:none;
}
.syn_av_meta span.syn_av_tag {
  display:inline;
  padding-left: 0px;
}
*/

/* Lightbox */
#syn_lb {
  border:2px solid #222222;
}
#syn_lb .syn_title {
  background-color:#E6FAE5;
  color:#000;
  text-align:left;
}
#syn_lb_head {
  background-color:#0099FF;
  border:20em;

}
#syn_lb_title {
  color:#FFFFFF;
  padding-left:7px;
  font-weight:bold;
}

#syn_lb_left {
  background:#E6FAE5 none repeat scroll 0 0;
}

#syn_lb_right a:link,
#syn_lb_right a:visited,
#syn_lb_right a:active {
  font-weight: bold; 
  color: #336699; 
  text-decoration: none
}
#syn_lb_right a:hover {
  font-weight: bold; 
  color: #336699; 
  text-decoration: underline;
}
.syn_lb_search_tag {
  font-weight:bold;
}
#syn_lb_search_result_header {
  font-size:80%;
}
.syn_lb_search_result_start,
.syn_lb_search_result_end,
.syn_lb_search_result_total {
  font-weight:bold;
}

#info, #sms {
       border:1px solid #36647b;
       position:absolute;
       top:50;
       left:450;
       z-index:1000;
       background:#fff;
       padding:10px;
       margin:10px;
       background:#efefcf;
       width:50em;
}

#sms .eg {
       font-style:italic;
       font-size:80%;
}

#info {top:500;
      width:70%;}

#sms {font-size:70%}

#smsfeatures {
  padding:0;
  margin:0;
  text-align:center;
  width:100%;
}

#sidebarContent {
float:left;
padding:0 0 0 5px;
width:21%;
text-align:center;
}

.resourceButton {
  margin:4px;
  border:0;
}

#infoTable {
float:left;
width:75%;
}

.clear2 {
  clear:both;
}

.topDiv {
  text-align:center;
}
